# Dependencies
server/node_modules/
client/node_modules/

# Environment variables
server/.env
.env

# Build output
server/dist/
client/build/

# Logs
server/logs/
server/*.log

# OS files
.DS_Store
Thumbs.db